.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: white;
}

.new-expense__control input {
  font: inherit;
  padding: 0.4rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 17vw;
}

.new-expense__actions {
  display: flex;
  text-align: right;
  width: 100%;
}

.new-expense__actions_button {
  font: inherit;
  cursor: pointer;
  padding: 4% 8%;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 0.4em;
  margin-left: 0.5rem;
}

.new-expense__actions_button:hover,
.new-expense__actions_button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-expense__actions_button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense__actions_button.alternative:hover,
.new-expense__actions_button.alternative:active {
  background-color: #ddb3f8;
}
