.new-expense {
  background-color: rgb(28, 34, 50);
  padding: 1rem;
  /* margin: 2rem auto; */
  width: 25vw;
  height: 95%;
  /* border-radius: 12px; */
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.max-expense-limit {
  font: inherit;
  cursor: pointer;
  padding: 4% 8%;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: #fdecef;
  border-radius: 0.4em;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1020px) {
  .new-expense {
    width: 20vw;
  }
}
